In [5]:
import sqlite3
import os

In [6]:
DB_DIR = r"C:/Users/HP/Documents/repos/news_ingestion_data_pipeline/data"
DB_FILE = "articles.db"
DB_PATH = os.path.join(DB_DIR, DB_FILE)

In [14]:

def truncate_table_and_vacuum(table_name):
    with sqlite3.connect(DB_PATH) as conn:
        cursor = conn.cursor()
        cursor.execute(f"DELETE FROM {table_name};")
        conn.commit()
        cursor.execute("VACUUM;")

In [15]:
truncate_table_and_vacuum("articles")
print("Table truncated and database vacuumed successfully.")

Table truncated and database vacuumed successfully.